body{
  background-image: url(../img/2740217.jpg);
  background-size: cover;
}
h1{
  display: flex;
  justify-content: center;
  color: #2F3131;
  border: #2F3131 solid;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Limelight', cursive;
  font-size: 80px;
}
.game{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.block1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}
#droppable{
  background-color: white;
  border: #2F3131 solid;
  width: 400px;
  height: 250px;
}
.blockComputer{
  background-color: white;
  border: #2F3131 solid;
  width: 400px;
  height: 250px;
}
#blockWhite, .blockComputer{
  display: flex;
  justify-content: space-around;
}
h2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: #2F3131;
  margin-bottom: 0px;
}
#img{
  display: flex;
  flex-direction: row;
  width: auto;
}

button{
  display: flex;
  justify-content: center;
  color: #2F3131;
  background-color:#FFBABF;
  border: none;
  margin-left: 30%;
  margin-right: 30%;
  padding:20px;
  text-align: center;
  font-family: 'Limelight', cursive;
  font-size: 25px;
}

p {
  display: flex;
  justify-content: center;
  color: #2F3131;
  border: #2F3131 solid;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Limelight', cursive;
  font-size: 80px;
}

#victory{
  background-image: url(../img/background2.jpg);
  background-size: cover;
  height: 900;
 
}
#lose{
  background-image: url(../img/background2.jpg);
  background-size: cover;

}
#tie{
  background-image: url(../img/background2.jpg);
  background-size: cover;
 
}